In [2]:
import pandas as pd
# read file from data
labelled_sentences = pd.read_excel('data/FOMC Labelled Sentences.xlsx')
statements = pd.read_excel('data/FOMC Statements 1997-2023.xlsx')

In [3]:
labelled_sentences.head()

,Unnamed: 0,Sentence,Meeting Date,Score
0,1,"In addition, the Committee intends to purchase...",2010-12-14,-1
1,2,_x000D_\n_x000D_\nThe Committee perceives that...,2003-09-16,0
2,3,"_x000D_\n_x000D_\nIn these circumstances, alth...",2002-05-07,0
3,4,This assessment will take into account a wide ...,2015-01-28,0
4,5,\n_x000D_\n Information received since t...,2010-11-03,-1

In [4]:
statements.head()

  Meeting Date                                         Unnamed: 1
0   1997-03-25  _x000D_\n_x000D_\n\tThe Federal Open Market Co...
1   1998-09-29  _x000D_\nThe Federal Open Market Committee dec...
2   1998-10-15  _x000D_\nThe Federal Reserve today announced t...
3   1998-11-17  _x000D_\nThe Federal Reserve today announced t...
4   1999-05-18  _x000D_\nThe Federal Reserve released the foll...

In [5]:
import nlpaug.augmenter.char as nac
import nlpaug.augmenter.word as naw
import nlpaug.augmenter.sentence as nas
import nlpaug.flow as nafc
from gensim.models import KeyedVectors

In [11]:
test = labelled_sentences['Sentence'][0]
test

'In addition, the Committee intends to purchase $600 billion of longer-term Treasury securities by the end of the second quarter of 2011, a pace of about $75 billion per month.'

In [12]:
aug = naw.WordEmbsAug(
    model_type='word2vec', model_path='data/GoogleNews-vectors-negative300.bin',
    action="substitute")
augmented_text = aug.augment(test)
print("Original:")
print(test)
print("Augmented Text:")
print(augmented_text)

Original:
In addition, the Committee intends to purchase $600 billion of longer-term Treasury securities by the end of the second quarter of 2011, a pace of about $75 billion per month.
Augmented Text:
['Moreover addition, the Committee intends to acquire $ 600 US##.#b of longer - lasting Treasury securities by the end of Verlander_trotted secondbest pretax of 2011, a steady of about $ 75 #.#bil per month_Oct##.']